build/
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
.DS_Store

**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
.gradle/
